// Bootstrap components
$bp = "node_modules/bootstrap-styl/bootstrap/"
$icon-font-path ?= "node_modules/bootstrap-styl/fonts/"

// Core variables and mixins
@import $bp+"variables"
@import $bp+"mixins"

// Reset and dependencies
@import $bp+"normalize"
// @import $bp+"print"
// @import $bp+"glyphicons"

// Core CSS
@import $bp+"scaffolding"
@import $bp+"utilities"
@import $bp+"type"
// @import $bp+"code"
@import $bp+"grid"
// @import $bp+"tables"
@import $bp+"forms"
@import $bp+"buttons"

// Components
@import $bp+"component-animations"
@import $bp+"dropdowns"
@import $bp+"button-groups"
@import $bp+"input-groups"
@import $bp+"navs"
@import $bp+"navbar"
// @import $bp+"breadcrumbs"
@import $bp+"pagination"
@import $bp+"pager"
@import $bp+"labels"
// @import $bp+"badges"
// @import $bp+"jumbotron"
// @import $bp+"thumbnails"
// @import $bp+"alerts"
// @import $bp+"progress-bars"
// @import $bp+"media"
// @import $bp+"list-group"
// @import $bp+"panels"
@import $bp+"responsive-embed"
// @import $bp+"wells"
@import $bp+"close"

// Components with JavaScript
@import $bp+"modals"
@import $bp+"tooltip"
@import $bp+"popovers"
//@import $bp+"carousel"

// Utility classes
@import $bp+"responsive-utilities"