.gallery_page
	.testimonials
		h3
			font-size: 24px !important
			font-family: Cormorant
			font-style: italic
			text-align: center
			margin-top: 50px !important
			margin-bottom: 30px !important
	.testimonials
		.testimonial-slider
			.item
				padding: 20px
				border: 1px dotted #444444
				font-size: 14px
				line-height: 22px

		.author
			font-size: 18px
			font-weight: bold
			font-family: Cormorant
			text-align: right
			margin-bottom: 0

		.bx-pager
			text-align: center
			margin-top: 6px

			.bx-pager-item
				display: inline-block
				vertical-align: middle
				margin: 0 5px

			.bx-pager-link
				text-indent: -99999px !important
				background: url(images/dot.svg) no-repeat top center
				background-size: 100%
				width: 12px
				height: 12px
				display: inline-block

			.active
				background: url(images/dot-active.svg) no-repeat top center !important
				background-size: 100%
	.container.big
		width: 1220px

		+below(1024px)
			width: 100%

		+below(767px)
			width: 100%

	.gallery
		margin-top: 25px

		.gallery-item
			+below(767px)
				width: 100%
				height: auto

			a
				display: block

				&:hover

					&:after
						content: " ";
						display: block
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						z-index: 999
						background: url(images/magnifier.svg) no-repeat center center
						background-size: 25px

					img
						-webkit-mask-image: none

			img
				mask-image: -webkit-gradient(linear, right 10%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.4)))
				-webkit-mask-image: -webkit-gradient(linear, right 10%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.4)))
				
	.show-more
		margin-top: 20px

		img
			width: 219px
			height: 24px