.programs_page,
.clinical-esthetics_page
	.banner
		position: relative

	.entry_content
		h3
			font-size: 24px
			font-family: Cormorant
			font-style: italic
			color: #444444
			padding: 30px 0 50px 0
			margin-top: 0

			&.bold
				font-style: normal
				font-weight: bold
				font-size: 21px

		p
			font-family: Raleway
			font-size: 14px
			line-height: 20px

			a
				color: #808080
				text-decoration: underline

		ul
			padding-left: 30px !important
			margin-top: 15px

			li
				line-height: 25px

				a
					color: #808080
					text-decoration: underline