// reset CSS, taken from 
// github.com/corysimmons/lost/blob/gh-pages/src/css/reset/reset.css
body,
.cf {
	*zoom: 1;
}
body:before,
.cf:before,
body:after,
.cf:after {
	content: '';
	display: table;
}
body:after,
.cf:after {
	clear: both;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1, figure, fieldset {
	margin: 0;
}
html {
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	width: 100%;
	overflow-x: hidden;
}
img,
video,
audio,
embed,
object,
input,
iframe {
	max-width: 100%;
}