.student-spa_page
	.banner
		position: relative

	.entry_content
		h3
			font-size: 24px
			font-family: Cormorant
			font-style: italic
			color: #444444
			padding-top: 30px
			margin-top: 0

			&.bold
				font-style: normal
				font-weight: bold
				font-size: 21px

		p
			font-family: Raleway
			font-size: 14px
			line-height: 20px

			a
				color: #808080
				text-decoration: underline

		ul
			padding-left: 15px
			margin-top: 15px

			li
				a
					color: #808080
					text-decoration: underline

	.schedule
		.row
			padding: 8px 0
			text-align: center

		.headings
			border-bottom: 1px dotted #f0f0f0
			font-weight: bold

	.prices
		.row .row
			padding: 8px 0
			text-align: center

		.item
			border-right: 1px dotted #f0f0f0
			padding: 0

			> div
				padding: 8px 0
				text-align: center
				border-bottom: 1px dotted #f0f0f0

		.item
			&:first-child
				border-left: none
			&:last-child
				border-right: none
