@import 'typographic'

// typographic settings. See more at: https://github.com/corysimmons/typographic#settings
$line-height-ratio  = 1.75
$header-ratio       = $minor-second
$body-font          = $helvetica
$body-font-weight   = 300
$body-color         = #666
$header-font        = $helvetica
$header-font-weight = 500
$header-color       = #111
$min-font           = 13px
$max-font           = 20px
$min-width          = 600px
$max-width          = 1000px
$vertical-rhythm    = true
