@import 'styl/reset'
//@import 'styl/typographic'
@import 'styl/bootstrap'
@import 'styl/spa'
@import 'styl/programs'
//@import 'styl/utils'

/**
 * Fonts
 **/
@font-face
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Raleway-Regular.woff') format('woff'), url('fonts/Raleway-Regular.ttf')  format('truetype'), url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'OptimusPrinceps';
	src: url('fonts/OptimusPrinceps.eot?#iefix') format('embedded-opentype'),  url('fonts/OptimusPrinceps.woff') format('woff'), url('fonts/OptimusPrinceps.ttf')  format('truetype'), url('fonts/OptimusPrinceps.svg#OptimusPrinceps') format('svg');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Cormorant-Regular.woff') format('woff'), url('fonts/Cormorant-Regular.ttf')  format('truetype'), url('fonts/Cormorant-Regular.svg#Cormorant-Regular') format('svg');
	font-weight: normal;
	font-style: normal;


body
	color: #444444
	background: #fff
	font-family: Raleway
	letter-spacing: 1px
	a
		color: blue
		&:hover
			text-decoration: none
	p
		margin: 5px 0
	*:focus
		outline: none

.container
	padding: 10px
	margin: 5px auto
	width: 1180px

/**
 * Header
 **/
header
	padding: 0 5px
	background: #F0F0F0
	height: 100px
	overflow: hidden
	.logo
		img
			position: relative
			top: -10px
	.socials
		padding: 29px 0 0
		a
			width: 40px
			height: 40px
			display: inline-block
			margin: 0 2px
			&:hover
				transition: background-image 0.1s ease
			&.face
				background: url('images/face-icon.png') no-repeat center
				&:hover
					background: url('images/face-icon-act.png') no-repeat center
			&.in
				background: url('images/in-icon.png') no-repeat center
				&:hover
					background: url('images/in-icon-act.png') no-repeat center
			&.tw
				background: url('images/tw-icon.png') no-repeat center
				&:hover
					background: url('images/tw-icon-act.png') no-repeat center
			&.you
				background: url('images/you-icon.png') no-repeat center
				&:hover
					background: url('images/you-icon-act.png') no-repeat center
	.lang
		text-align: right
		color: #007777
		a
			color: #007777
			font-size: 12px
	.search-box
		text-align: right
		input[type="text"]
			border: 1px solid #fff
			font-size: 12px
			font-weight: 300
			font-style: italic
			background: inherit
			padding: 3px 8px
			width: 100px
			box-sizing: border-box
			box-shadow: inset 1px 1px 1px #CECECE
			&::-webkit-input-placeholder,
			&:-moz-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder
				font-style: italic
				font-size: 12px
				font-weight: 300
				font-style: italic
		#searchsubmit
			background: url(images/search.png) no-repeat center center
			width: 21px
			height: 22px
			border: 0px

.logo-area
	background: #fff
	margin: 0px
	padding: 0px
	.logo-text
		font-family: OptimusPrinceps
		font-size: 21px
		text-align: center
	.navbar-toggle
		display: block
		float: none
		.icon-bar
			background: #007777
	.search-box-area
		display: none

.left-collapse
	position: absolute
	height: 100%
	background: #fff
	width: 25%
	top: 0px
	left: 0px
	z-index: 99
	display: none
	padding: 40px 20px 25px 40px
	.close-menu
		height: 16px
		width: 16px
		background: url('images/menu-close.png') no-repeat center
		position: absolute
		right: 20px
		top: 11px
	.menu-logo
		display: inline-block
	.navbar-nav
		display: block
		border-top: 1px solid #DCDCDC
		border-bottom: 1px solid #DCDCDC
		padding: 12px 0 40px
		width: 100%
		margin: 40px 0 0
		ul
			margin: 0px
			list-style: none
			li
				margin: 4px 0
			a
				color: #222222
				font-family: Raleway
				font-weight: bold
				text-transform: uppercase
				font-size: 18px
				&:hover
					color: #007777

.menu-overlay
	position: absolute
	height: 100%
	width: 100%
	background: #000
	opacity: 0.5
	display: none
	z-index: 5
	top: 0px
	left: 0px

/**
 * Content
 **/

.student-spa_page,
.programs_page,
.clinical-esthetics_page
	.banner
		position: relative

	.entry_title
		position: absolute
		top: 50%
		left: 0
		right: 0
		margin: 0 auto
		text-align: center
		background: none !important

		span
			position: relative
			background-color: transparent !important
			&:before
				content: " "
				background: url(images/center-line.jpg) repeat-x center
				display: block
				width: 25px
				height: 1px
				position: absolute
				left: -25px
				top: 50%

			&:after
				content: " "
				background: url(images/center-line.jpg) repeat-x center
				display: block
				width: 25px
				height: 1px
				position: absolute
				right: -25px
				top: 50%

.content
	p
		margin: 11px 0 20px
	.entry_title 
		display: inline-block
		background-size: auto 2px
		padding: 0 28px
		background: url(images/center-line.jpg) repeat-x center
		text-align: center
		background-position: bottom 14px center
		span
			background: #fff
			padding: 0 13px
			font-size: 36px
			font-style: italic
			color: #808080
			font-family: Cormorant
	.entry_image
		img
			width: 100%
	.entry_date
		color: $descr_color
	.paginate
		clear: both
		text-align: center

	.metaslider
		.flexslider
			margin: 0 0 15px
		.flex-control-nav
			bottom: 20px
			z-index: 90
			li
				background: none
				border: 1px dotted #fff
				border-radius: 50%
				margin: 0 4px
				a
					background: none
					margin: 2px
					box-shadow: 0 0 0 0
					height: 7px
					width: 7px
					&:hover, &.flex-active
						background: #fff
		.caption-wrap
			background: none
			opacity: 1
			top: 73px
			bottom: none
			span
				float: left
				clear: both
				background: #000
				font-size: 24px
				font-style: italic
				color: #fff
				font-family: Cormorant
				padding: 5px 20px 6px 17px
				text-transform: uppercase
				&:first-child
					padding-top: 8px
			.caption 
				padding: 0px

.sidebar-right
	.block
		border: 1px dotted #E9E9E9
		border-bottom: 5px  solid #000
		margin-bottom: 40px
		padding: 33px 10px 32px 20px
		.block-title
			display: block
			background: #000
			color: #fff
			text-transform: uppercase
			font-family: Cormorant
			font-style: italic
			font-size: 21px
			padding: 9px 11px 8px
			margin: -33px -10px 20px -20px
		&.info
			font-size: 18px
			text-transform: uppercase
			line-height: 30px
		&.contact
			padding-bottom: 0px
	.wpcf7
		margin: 0 10px 0 0
	.block-link
		border: 1px dotted #E9E9E9
		display: block
		text-align: center
		margin: 30px 20px
		font-size: 12px
		font-weight: 700
		padding: 8px 0
		color: #444444
		text-transform: uppercase

.wpcf7
	margin: 0 10px -10px 0 !important
	input[type="text"],
	input[type="email"]
		border: 0px
		border-bottom: 2px solid #A1A1A1
		padding: 0 10px 1px
		font-size: 12px
		font-style: italic
	input[type="submit"]
		font-size: 12px
		background: inherit
		display: block
		border: 1px dotted #E9E9E9
		padding: 5px 0 4px
		width: 100%

/**
 * Sidebar
 **/
.sidebar-right
	.block-image
		display: block
		position: relative
		&:hover
			.white-mask
				display:none
			a.position-center
				background: url(images/white-025.png)
		img
			width: 100%
		a.position-center
			position: absolute
			border: 1px dotted #444
			font-size: 12px
			width: 85%
			margin: 0 7.5%
			color: #444
			top: 50%
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
			text-align: center
			font-weight: 700
			padding: 6px 0 5px
			letter-spacing: 1px
			&:hover
				text-decoration: none
		.white-mask
			background: url(images/white-025.png)
			width: 100%
			height: 100%
			position: absolute
			top: 0px
			left: 0px


/**
 * Footer
 **/
footer
	.container
		border-top: 5px solid #222222
	.logo-text
		font-family: OptimusPrinceps
		font-size: 21px
	.copy
		font-family: Raleway
		font-size: 12px
	.socials
		a
			width: 40px
			height: 40px
			display: inline-block
			margin: 0 2px
			&.face
				background: url('images/face-icon-ft.png') no-repeat center
				&:hover
					background: url('images/face-icon-ft-act.png') no-repeat center
			&.in
				background: url('images/in-icon-ft.png') no-repeat center
				&:hover
					background: url('images/in-icon-ft-act.png') no-repeat center
			&.tw
				background: url('images/tw-icon-ft.png') no-repeat center
				&:hover
					background: url('images/tw-icon-ft-act.png') no-repeat center
			&.you
				background: url('images/you-icon-ft.png') no-repeat center
				&:hover
					background: url('images/you-icon-ft-act.png') no-repeat center

/**
 * Responsive styles
 **/

/** Landscape phones and down 
 * @media (max-width: 480px)
 **/

/** Landscape phone to portrait tablet
 * @media (max-width: 767px)
 **/

/** Portrait tablet to landscape and desktop
 * @media (min-width: 768px) and (max-width: 979px)
 **/

/** Large desktop
 * @media (min-width: 1200px)
 **/


/* Responsive Menu */
@media (max-width: 979px)
	.navbar-inverse
		border-radius: 3px
		.navbar-brand
			display: block !important
		.menu
			li
				display: block
				line-height: normal
				text-align: left
				a
					color: #999999
					font-weight: bold
					border-radius: 3px
					padding: 7px 13px
					margin-bottom: 2px
					&:hover
						color: #fff
						background: #111111

/**
 * Helpers
 **/
.text_right
	text-align: right

.text_center
	text-align: center

.right
	float: right

.left
	float: left

.hidden
	display: none !important
	visibility: hidden

.underline
	text-decoration: underline

.clear
	clear: both

.no-padd
	padding: 0px !important

.no-marg
	margin: 0px !important

.width-100
	width: 100%

.navbar-toggle .icon-bar + .icon-bar
	margin-top: 6px